

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.932);
  }
  
.sun {
    position: absolute;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    top: 16rem;
    left: 4rem;
    position: absolute;
    background: #fff054;
    top: 15%;
    right: 30%;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 15px #fff9ba;
    animation: pulse 2s infinite;
    text-align: center;
    font-size: 20px;
}
@keyframes pulse {
    0% {
      transform: scale(1);
      animation-timing-function: ease-in;
    }
    50% {
      transform: scale(1.2);
      animation-timing-function: ease-out;
    }
    100% {
      transform: scale(1);
    }
  }
   .mars {
    position: absolute;
    width: 125px;
    height: 125px;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 27%;
    border-radius: 50%;
    background-color:rgb(210, 153, 30);
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    animation: mars 2s infinite;
    
    
  }
  .mars:hover{
    color: black;
    
  }
  @keyframes mars{
    0% {
      transform: scale(1);
      animation-timing-function: ease-in;
    }
    50% {
      transform: scale(1.2);
      animation-timing-function: ease-out;
    }
    100% {
      transform: scale(1);
    }
    from{background-color: rgb(210, 153, 30);}
    to{background-color: rgb(228, 176, 65);}
  }

  

  .mercury {
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    top: 36%;
    left: 19%;
    border-radius: 50%;
    background-color: #cf2406ec;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    animation: merc 2s infinite;
  }
  .mercury:hover{
    color: black;
    
  }
  @keyframes merc{
    0% {
      transform: scale(1);
      animation-timing-function: ease-in;
    }
    50% {
      transform: scale(1.2);
      animation-timing-function: ease-out;
    }
    100% {
      transform: scale(1);
    }
    from{background-color: #cf2406ec;}
    to{background-color: rgb(228,65,65);}
  }

  
    
  
  
  .venus {
    position: absolute;
    width: 138px;
    height: 138px;
    transform: translate(-50%, -50%);
    top: 44%;
    left: 36%;
    border-radius: 50%;
    background-color: #41403ec2;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    animation: ven 2s infinite;
    
  }
  .venus:hover{
    color: black;
    
  }
  @keyframes ven{
    0% {
      transform: scale(1);
      animation-timing-function: ease-in;
    }
    50% {
      transform: scale(1.2);
      animation-timing-function: ease-out;
    }
    100% {
      transform: scale(1);
    }
    from{background-color: #41403ec2;}
    to{background-color: rgba(240, 163, 214, 0.685);}
  }

 
  .earth {
    position: absolute;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    top: 49%;
    left: 46%;
    border-radius: 50%;
    background-color: #8deb12ec;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    animation: ear 2s infinite;
    
    
  }
  
  .earth:hover{
    color: black;
    
  }
  @keyframes ear{
    0% {
      transform: scale(1);
      animation-timing-function: ease-in;
    }
    50% {
      transform: scale(1.2);
      animation-timing-function: ease-out;
    }
    100% {
      transform: scale(1);
    }
    from{background-color: #8deb12ec;}
    to{background-color: rgb(65, 95, 228);}
  }

  .jupiter {
    position: absolute;
    width: 164px;
    height: 164px;
    transform: translate(-50%, -50%);
    top: 54%;
    left: 57%;
    border-radius: 50%;
    background-color: #2984ebec;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    animation: jupi 2s infinite;
    
  }
  .jupiter:hover{
    color: black;
    
  }
  @keyframes jupi{
    0% {
      transform: scale(1);
      animation-timing-function: ease-in;
    }
    50% {
      transform: scale(1.2);
      animation-timing-function: ease-out;
    }
    100% {
      transform: scale(1);
    }
    from{background-color: #2984ebec;}
    to{background-color: rgb(228, 65, 174);}
  }

  .saturn {
    position: absolute;
    width: 162px;
    height: 162px;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 69%;
    border-radius: 50%;
    background-color: #9429ebec;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    animation: sat 2s infinite;
    
  }
  .saturn:hover{
    color: black;
    
  }
  @keyframes sat{
    0% {
      transform: scale(1);
      animation-timing-function: ease-in;
    }
    50% {
      transform: scale(1.2);
      animation-timing-function: ease-out;
    }
    100% {
      transform: scale(1);
    }
    from{background-color: #9429ebec;}
    to{background-color: rgb(26, 231, 197);}
  }

  .neptune {
    position: absolute;
    width: 154px;
    height: 154px;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 81%;
    border-radius: 50%;
    background-color: #3cdff5ec;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    animation: nep 2s infinite;
    
  }
  .neptune:hover{
    color: black;
    
  }
  @keyframes nep{
    0% {
      transform: scale(1);
      animation-timing-function: ease-in;
    }
    50% {
      transform: scale(1.2);
      animation-timing-function: ease-out;
    }
    100% {
      transform: scale(1);
    }
    from{background-color: #3cdff5ec;}
    to{background-color:rgb(207, 107, 132) ;}
  }

  .uranus {
    position: absolute;
    width: 151px;
    height: 151px;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 92%;
    border-radius: 50%;
    background-color: #eb9d29ec;
    text-align: center;  
    font-size: 20px;
    color: #ffffff;
    animation: uran 2s infinite;
    
  }
  .uranus:hover{
    color: black;
    
  }
  @keyframes uran{
    0% {
      transform: scale(1);
      animation-timing-function: ease-in;
    }
    50% {
      transform: scale(1.2);
      animation-timing-function: ease-out;
    }
    100% {
      transform: scale(1);
    }
    from{background-color:#eb9d29ec ;}
    to{background-color: rgb(212, 228, 65) ;}
  }

  
 
  
  